@inject IProductsService ProductsService
@page "/categories/{category}"
@page "/categories/{category}/{page:int}"
@page "/find/{text}"
@page "/find/{text}/{page:int}"

<PageTitle>@(string.IsNullOrWhiteSpace(Category) ? "Wyszukiwanie" : Category.ToUpper())</PageTitle>

<div class="row">
    <div class="col-xl-2 mb-3 mb-xl-0">
        <div class="p-4 ms-2 border rounded shadow">
            <ProductSortFilterForm SortFilterOptions="sortFilterOptions" Manufacturers="manufacturers" OnSubmit="OnFiltersSortChangeAsync" @ref="sortFilterForm"/>
        </div>
    </div>
    <div class="col">
        <div class="px-5 px-xxl-5 mx-2 mx-xxl-5">
            <DisplayProducts Products="Products" />
        </div>
        <PagesComponent PagesCount="pageCount" CurrentPage="Page" OnPageChanged="ChangePageAsync" />
    </div>    
</div>