@inject IProductsService ProductsService
@page "/"
@page "/{category}"
@page "/{category}/{page:int}"
@page "/find/{text}"
@page "/find/{text}/{page:int}"


<div class="container">
    <div class="d-flex align-items-center">
        @if (string.IsNullOrEmpty(Category))
        {
            <PageTitle>SuperPC</PageTitle>
            <DisplayProducts Products="ProductsService.Products" />
        }
        else
        {
            <PageTitle>@Category</PageTitle>
            <DisplayProducts Products="ProductsService.Products" />
        }
    </div>
    <PagesComponent PagesCount="pageCount" CurrentPage="Page" OnPageChanged="ChangePageAsync"/>
</div>