@inject IProductsService ProductsService
@inject ICategoryService CategoryService
@page "/{category}"
@page "/"

<div class="container">
    <div class="d-flex align-items-center">
        @if (currentCategory == null)
        {
            <PageTitle>SuperPC</PageTitle>
            <DisplayProducts Products="ProductsService.Products" />
        }
        else
        {
            <PageTitle>@currentCategory.Name</PageTitle>
            <DisplayProducts Products="ProductsService.Products" />
        }
    </div>    
</div>

@code
{
    [Parameter] public string? Category { get; set; }
    private Category? currentCategory;

    protected override async Task OnParametersSetAsync()
    {
        if (Category == null)
        {
            currentCategory = null;
        }
        else
        {
            currentCategory = await CategoryService.GetCategoryByUrl(Category);
        }
        if(currentCategory != null)
        {
            await ProductsService.LoadAsync(int.Parse(currentCategory.Id)); //tmp parse
        }
        else
        {
            await ProductsService.LoadAsync();
        }

        base.OnParametersSet();
    }
}