@page "/product/{id}"
@page "/product/{categoryname}/{id}"
@inject IProductsService ProductsService
@inject IJSRuntime JS

<PageTitle>@($"{currentProdcut?.Manufacturer} {currentProdcut?.Name}")</PageTitle>

<style>
    h2 {
        font-size: 2.5rem;
        margin: 10px;
    }

    .scroll-std {
        scroll-margin: 120px;
    }

    #product-description p
    {
        font-size: 1.1rem;
    }

    @@media (max-width:449px) {
        .list-group .list-group-item {
            width: 80px;
        }
    }

    @@media (min-width: 450px) and (max-width: 1199px) {
        #go-to-element-nav {
            top: 3em;
        }

        .list-group .list-group-item {
            width: 100px;
        }
    }

    @@media (max-width: 1199px) {
        #go-to-element-nav {
            top: 3em;
        }
    }

    @@media (min-width: 1200px) {
        #go-to-element-nav {
            top: 7em;
        }
        .list-group .list-group-item {
            width: 130px;
        }
    }
</style>

<div class="container-fluid mb-5" style="max-width: 1500px;">
    <div class="row scroll-std" id="product-name">
        <h1>@currentProdcut?.Manufacturer @currentProdcut?.Name</h1>
    </div>
    <div class="row justify-content-around">
        @if (currentProdcut?.Images?.Count > 0)
        {
            <div class="col-sm col-lg-6 shadow p-2 border rounded d-flex align-items-center" 
                 style="min-width: 200px; min-height: 200px;">
                <Carousel Images="@currentProdcut?.Images?.Select(x => x.Location).ToList()" />
            </div>
        }
        <div class="col-sm col-lg-4">
            <div class="shadow px-2 py-4 border rounded">
                <AddToCartSection Product="currentProdcut" />
            </div>
        </div>
    </div>

    <div id="go-to-element-nav" class="mt-3 navbar navbar-light bg-transparent sticky-top">
        <div class="list-group list-group-horizontal">
            <a class="list-group-item shadow text-center" role="button" @onclick="()=>OnListItemClick(0)">Zdjęcia</a>
            <a class="list-group-item shadow text-center" role="button" @onclick="()=>OnListItemClick(1)">Opis</a>
            <a class="list-group-item shadow text-center" role="button" @onclick="()=>OnListItemClick(2)">Dane</a>
        </div>
    </div>
    
    <div id="product-description" class="text-center shadow p-3 mb-3 border rounded" style="scroll-margin: 100px;">
        <h2>Opis</h2>
        <p>@currentProdcut?.Description</p>
    </div>
    <div id="product-details" class="shadow p-3 pb-0 mb-0 border rounded scroll-std">
        <h2 class="text-center">Specyfikacja</h2>
        <DisplayProductDetails Product="currentProdcut" />
    </div>
</div>