@page "/product/{id}"
@inject IProductsService ProductsService

<div class="container-fluid">
    <div class="row">
        <h1>@currentProdcut?.Name</h1>
    </div>
    <div class="row">
        @if (currentProdcut?.Images?.Count > 0)
         {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <Carousel Images="@currentProdcut?.Images?.Select(x => x.Location).ToList()" />
            </div>
         }
        <div class="col-sm-8 col-md-8 col-lg-8"><p>@currentProdcut?.Description</p></div>
    </div>
</div>




