<div id="sort-filter-options">
    <div>
        <h4 class="mb-1">Sortowanie</h4>
        <DropdownMenu ChangeTitleToSelectedValue="true"
                      OnMouseOverEnabled="false"
                      Items="SortOptions.GetDisplayNames()"
                      TItem="string"
                      OnSelected="SortOptionChangedAsync"
                      ButtonClassCss="form-control shadow-none btn border border-1">
            <InitTitle>@SortOptions.GetDisplayNameByOption(SortFilterOptions.SortOption)</InitTitle>
        </DropdownMenu>
    </div>
    <div>
        <h4 class="mt-3 mb-1">Cena minimalna</h4>
        <NumericUpDown InitValue="SortFilterOptions.PriceMin"
                       MaxValue="99999999"
                       MinValue="0"
                       OnValueChanged="MinValueChanged">
        </NumericUpDown>
    </div>
    <div>
        <h4 class="mt-3">Cena maksymalna</h4>
        <NumericUpDown InitValue="SortFilterOptions.PriceMax"
                       MaxValue="99999999"
                       MinValue="0"
                       OnValueChanged="MaxValueChanged">
        </NumericUpDown>
    </div>
    <div>
        <h4 class="mt-3 mb-0">Producenci</h4>
        @foreach (var manufacturer in Manufacturers)
        {
            <div class="d-flex align-items-center mt-2">
                <h5 class="m-0 p-0">@manufacturer</h5>
                <input type="checkbox" class="form-check-input shadow-none ms-2 mt-0" @onclick="() => OnManufacturerClick(manufacturer)" />
            </div>
        }
    </div>
    <div>
        <div class="d-flex align-items-center my-3">
            <h4 class="m-0 p-0">Tylko dostępne</h4>
            <input type="checkbox" class="form-check-input shadow-none ms-2 mt-0" @bind="SortFilterOptions.ShowAvaliableOnly" />
        </div>
        <div class="d-flex align-items-center mb-2">
            <h4 class="m-0 p-0">Tylko promocje</h4>
            <input type="checkbox" class="form-check-input shadow-none ms-2 mt-0" @bind="SortFilterOptions.ShowDiscountOnly" />
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary shadow-none" @onclick="OnSubmitedAsync">Zastosuj</button>
    </div>
</div>

@code 
{
    [Parameter] public ProductSortFilterOptions SortFilterOptions { get; set; } = new();
    [Parameter] public HashSet<string> Manufacturers { get; set; } = new();
    [Parameter] public Func<Task>? OnSubmit { get; set; }

    protected async Task SortOptionChangedAsync(int option)
    {
        if (option != SortFilterOptions.SortOption)
        {
            SortFilterOptions.SortOption = option;
            await OnSubmitedAsync();
        }
    }
    protected void MinValueChanged(int value)
    {
        if (value != SortFilterOptions.PriceMin)
        {
            SortFilterOptions.PriceMin = value;
        }
    }
    protected void MaxValueChanged(int value)
    {
        if (value != SortFilterOptions.PriceMax)
        {
            SortFilterOptions.PriceMax = value;
        }
    }
    protected void OnManufacturerClick(string manufacturer)
    {
        string? x = SortFilterOptions.Manufacturers.FirstOrDefault(x => x.Equals(manufacturer));
        if (string.IsNullOrEmpty(x))
            SortFilterOptions.Manufacturers.Add(manufacturer);
        else
            SortFilterOptions.Manufacturers.Remove(x);
    }

    public async Task OnSubmitedAsync()
    {
        if(OnSubmit != null)
            await OnSubmit();
    }
}
