@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<style>
    @@media (max-width: 1199px) {
        #body {
            margin-top: 75px;
        }
    }

    @@media (min-width: 1200px) {
        #body {
            margin-top: 150px;
        }
    }
</style>



<header>    
    <NavMenu />
</header>

<div id="body" class="container-fluid">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3">
    
    <CloseButtonContent>
        <div>
            <span class="fa fas fa-times"></span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

