@inject ICartService CartService
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@implements IDisposable

<nav class="navbar navbar-expand-xl fixed-top navbar-light bg-light pb-0">
    <div class="container-fluid bg-light">
        <a class="navbar-brand" href=""><img src="images/logo.png" width="180" height="35" /></a>

        <button class="navbar-toggler shadow-none" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse bg-light mt-4 mt-xl-0">
            <div class="row w-100">
                <div class="col-md-7">
                    <div class="w-100 justify-content-center">
                        <ProductSearch />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="d-flex justify-content-md-end">
                        <NavLink class="nav-link" href="cart">
                            <div class="d-flex align-items-center navbar-font-size text-black">
                                <span class="fas-icon fas fa-shopping-cart me-2" aria-hidden="true"></span>
                                <span>@cartValue zł</span>
                            </div>
                        </NavLink>
                        <NavLink class="nav-link" href="account">
                            <div class="d-flex align-items-center navbar-font-size text-black">
                                <span class="fas-icon fas fa-user me-2" aria-hidden="true"></span>
                                @if (!isLogIn)
                                {
                                    <span>Zaloguj się</span>
                                }
                                else
                                {
                                    <span>Konto</span>
                                }
                            </div>
                        </NavLink>
                    </div>                    
                </div>
            </div>
            <div id="categories-bar" class="bg-light position-absolute w-100 shadow">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 categories-font  justify-content-center">
                    <li class="nav-link">
                        <NavLink class="nav-link" href="pc" @onclick="CollapseNavMenu">
                            <div class="d-flex align-items-center navbar-font-size">
                                Komputery
                            </div>
                        </NavLink>
                    </li>
                    <li class="nav-link">
                        <NavLink class="nav-link" href="laptop" @onclick="CollapseNavMenu">
                            <div class="d-flex align-items-center navbar-font-size">
                                Laptopy
                            </div>
                        </NavLink>
                    </li>
                    <li class="nav-link ms-sm-0 ms-xl-2" style="overflow: visible; font-size: 1.2rem;">
                        <div class="d-flex align-items-center">
                            <DropdownMenu TItem="string"
                                          Items="ComponentsList"
                                          ChangeTitleToSelectedValue="false"
                                          OnSelected="OnPartsClicked"
                                          ButtonClassCss="bg-transparent navbar-font-size px-0">
                                <InitTitle>Podzespoły</InitTitle>
                            </DropdownMenu>
                        </div>
                    </li>
                    <li class="nav-link ms-sm-0 ms-xl-2" style="overflow: visible;">
                        <div class="d-flex align-items-center">
                            <DropdownMenu TItem="string"
                                          Items="PeripheryList"
                                          ChangeTitleToSelectedValue="false"
                                          OnSelected="OnPeripheriesClicked"
                                          ButtonClassCss="bg-transparent navbar-font-size px-0">
                                <InitTitle>Peryferia</InitTitle>
                            </DropdownMenu>
                        </div>
                    </li>
                    <li class="nav-link ms-sm-0 ms-xl-1">
                        <NavLink class="nav-link" href="tool" @onclick="CollapseNavMenu">
                            <div class="d-flex align-items-center navbar-font-size">
                                Narzędzia
                            </div>
                        </NavLink>
                    </li>
                    <li class="nav-link ms-sm-0 ms-xl-1">
                        <NavLink class="nav-link" href="configurator" @onclick="CollapseNavMenu">
                            <div class="d-flex align-items-center navbar-font-size">
                                Konfigurator PC
                            </div>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

