@typeparam TItem

<style>
    .dropdown button{
        font-size: 1.2rem;
    }

    .dropdown .dropdown-toggle {
        color: #707071;
    }
        .dropdown .dropdown-toggle:hover {
            color: #4a4a4b;
        }
</style>

<div class="dropdown cursorHand" @onfocusout="OnFocusOut">
    <button class="btn dropdown-toggle shadow-none @ButtonClassCss"
            data-toggle="dropdown"
            type="button" @onmousedown="ChangeIsMenuShown"
            aria-haspopup="true" aria-expanded="false">
        @Title
    </button>
    <CascadingValue name="Dropdown" Value="@this">
        <div class="dropdown-menu @(IsMenuShown? "show shadow":"")">
            @if (Items != null)
             {
                @foreach (var item in Items)
                 {
                    <DropdownItem TItem="TItem" Item="item">@item</DropdownItem>
                 }
             }
        </div>
    </CascadingValue>
</div>
