@using ComputerShop.Client.Shared.Components.ProductsDetails

<style>
    #details {
        max-width: 1000px;
        font-size: 1.25rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>

@if (Product != null)
{
    <div class="container" id="details">
        <h2 class="text-center" style="font-size: 2.5rem;">Specyfikacja</h2>
        @if (Product is IDesktopPcProduct)
        {
            <DesktopPCDetails Product="Product" />
        }
        else if (Product is IDesktopPsuProduct)
        {
            <DesktopPsuProductDetails Product="Product" />
        }
        else if (Product is ILaptopProduct)
        {
            <LaptopProductDetails Product="Product" />
        }
        else if (Product is IDesktopGpuProduct)
        {
            <DesktopGpuProductDetails Product="Product" />
        }
        else if (Product is IDesktopMotherboardProduct)
        {
            <MotherboardProductDetails Product="Product" />
        }
        else if (Product is IRamProduct)
        {
            <RamProductDetails Product="Product" />
        }
        else
        {
        }
        @if (Product?.ExtraInfo?.Count > 0)
        {
            @foreach (var item in Product.ExtraInfo)
            {
                <div class="row">
                    <div class="col-6">
                        @item.Name
                    </div>
                    <div class="col-6">
                        @item.Value
                    </div>
                </div>
            }
        }
    </div>
 }

