@using ComputerShop.Client.Shared.Components.ProductsDetails

@if (Product != null)
{
    <style>
        #details {
            max-width: 1000px;
            font-size: 1.25rem;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #details h4 {
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
        }
    </style>
    <div class="container" id="details">
        @if (Product is IDesktopPcProduct)
        {
            <DesktopPCDetails Product="Product" />
        }
        else if (Product is ICpuProduct)
        {
            <DesktopCpuProductDetails Product="Product" />
        }
        else if (Product is IDesktopPsuProduct)
        {
            <DesktopPsuProductDetails Product="Product" />
        }
        else if (Product is ILaptopProduct)
        {
            <LaptopProductDetails Product="Product" />
        }
        else if (Product is IDesktopGpuProduct)
        {
            <DesktopGpuProductDetails Product="Product" />
        }
        else if (Product is IDesktopMotherboardProduct)
        {
            <MotherboardProductDetails Product="Product" />
        }
        else if (Product is IRamProduct)
        {
            <RamProductDetails Product="Product" />
        }
        else
        {
            //tmp display something went wrong
        }
        <ExtraInfo Properties="Product.ExtraInfo" />
    </div>
 }

